.swagger-section .icon-btn {
	cursor: pointer;
}

.swagger-section #header {
	background-color: #2c2c2c;
}

.swagger-section #header a#logo {
	background: transparent url(../images/toplogo.png) no-repeat left center;
	padding-left: 124px;
}

.swagger-section #header form#api_selector .input a#explore {
	background-color: #d2121c;
}